*{
    margin:0px;
    padding:10px;
    box-sizing: border-box;
    font-family:"Poppins",sans-serif;
}
.top{
    height:100px;
    width:100%;
    display:flex;
    
    justify-content: space-between;
}
.left{
    display:flex;
    justify-content: center;
}
ul{
    display: flex;
   
}

.right{
    position:relative
}
.bt1{
    position:absolute;
    top:10px;
    right:30px;
    height:40px;
    width:110px;
    background-color: rgb(57, 15, 172);
    color: white;
    display:flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
}
.container{
    margin:3px;
    height:500px;
    width:100%;
    display:flex;
    justify-content: space-between;
    
   
}
h1{
   font-size:50px;
   line-height:60px;
   color:rgb(2, 2, 44);
   font-family: "Poppins",sans-serif;
}
p{
    font-size:12px;
    margin-bottom:70px;
    font-family: "Poppins",sans-serif;
    
}
.mid{
    padding-top:50px;
    width:50%;
  
    margin-right: 0px;
}
.image{
    height:450px;
    width:700px;
}
.bt2{
    
    background-color: rgb(57, 15, 172);
    color: white;
    border-radius: 8px;
}